@import '@/assets/style/home.scss';
@import '@/assets/style/login.scss';
@import '@/assets/style/signup.scss';

@import '@/assets/style/component/roullete.scss';

@font-face {
    font-family:'BMDOHYEON';
    src: url('../font/BMDOHYEON_ttf.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family:'BMJUA';
    src: url('../font/BMJUA_ttf.ttf') format('truetype');
}