.signupArea {
    margin : 0 auto;

    width: 600px;
    // height: 600px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #fff;

    font-family: 'BMJUA';

    h1 {
        font-size: 25px;
        letter-spacing: 5px;
    }

    .input-box{
        position:relative;
        margin: 10px auto;
        width: 400px;
    }
    

    .input-box > input{
        background:transparent;
        border:none;
        border-bottom: solid 1px #ccc;
        padding:20px 0px 5px 0px;
        font-size:14pt;
        width:100%;
    }

    input::placeholder{
        color:transparent;
    }
    
    input:placeholder-shown + label{
        color:#aaa;
        font-size:14pt;
        top:15px;
    }

    input:focus + label, label{
        color:#8aa1a1;
        font-size:10pt;
        pointer-events: none;
        position: absolute;
        left:0px;
        top:0px;
        transition: all 0.2s ease ;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }

    input:focus, input:not(:placeholder-shown){
        border-bottom: solid 1px #8aa1a1;
        outline:none;
    }

    .btns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin-top: 20px;

        div {
            width: 40%;
            height: 40px;
            border-radius: 5px;
            line-height: 40px;
        }

        .signupBtn {
            background-color: #00FF80;
        }

        .loginBtn {
            background-color: #D5FF00;
        }
    }
}